.size-container{
    width: 100vw;
    height: 97vh;
    position: relative;
}

.size-container *{
    position: absolute;
}

.size-car{
    display: block;
     width: 55px;
    height: 26px; 
    position: absolute;
    /* top: 50%;
    left: 50%; */
}